/* Stylesheet by Jamp Vongkusolkit, 2019 */

.map {
    border: medium solid #999;
}

.gratBackground {
    fill: #D5E3FF;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 1.5px;
}
