/* Stylesheet by Jamp Vongkusolkit, 2019 */

/* html,
body {
    height: 100%;
} */
h1{
  font-family: Futura;
}

b{
  font-family: Futura;
}

.labelname{
  font-family: Futura;
}

.legendsvg {
  height:200px
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.legendQuant {
    position: absolute;
    font-family: "Futura";
    right: 40px;
}


li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-size: 1em;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
    font-family: "Futura";
    stroke-width: 0.2px
}

.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

option {
    font-weight: normal;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: "Futura";
    font-size: 1.3em;
    fill: #000000;
    stroke: #000000;
    stroke-width: 1px
}

.chartBackground {
    fill: #c0ded9;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 1em;
    fill: #999;
}


.regions {
    stroke: #9fa9a3;
    stroke-width: 1.5px;
    stroke-linecap: round;
}

.gratBackground {
    fill: #c0ded9;
}

.gratLines {
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 1px;
}

.countries {
    fill: #eaece5;
    stroke: #9fa9a3;
    stroke-width: 1.5px;
}
